<html lang="cs">
<body>
Dobrý den,

<p>
    Byli jste administrátorem zaregistrováni do systému TermIt.
    Na odkazu níže si prosím vytvořte heslo.
</p>
<p>
    <b><a href="${resetLink}">Vytvořit heslo</a></b>
</p>
<p>
    Odkaz je platný ${validity} hodin.
</p>

S pozdravem,<br/>
TermIt Postman
<br/>
<p>
    -------------------------------------------------------------------------------<br/>
    Toto je automatická zpráva. Prosím, neodpovídejte na ni.
</p>
</body>
</html>
