<html lang="cs">
<body>
Dobrý den,

<p>
    Někdo zažádal o změnu hesla k Vašemu účtu. Heslo můžete změnit na odkazu níže.
</p>
<p>
    <b><a href="${resetLink}">Změnit heslo</a></b>
</p>
<p>
    Odkaz je platný ${validity} hodin.
    Pokud jste o změnu nežádali, můžete tuto zprávu ignorovat.
</p>

S pozdravem,<br/>
TermIt Postman
<br/>
<p>
    -------------------------------------------------------------------------------<br/>
    Toto je automatická zpráva. Prosím, neodpovídejte na ni.
</p>
</body>
</html>
