root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4

ij_continuation_indent_size = 8
ij_any_extends_keyword_wrap = normal
ij_any_throws_keyword_wrap = normal
ij_any_method_parameters_wrap = normal
ij_any_method_call_chain_wrap = normal
ij_any_align_multiline_chained_methods = true
ij_any_assignment_wrap = off
ij_any_array_initializer_wrap = normal
ij_any_align_multiline_array_initializer_expression = true
ij_java_annotation_parameter_wrap = normal
ij_java_align_multiline_annotation_parameters = true
