application.version: @project.version@

management:
    endpoints:
        enabled-by-default: false
    endpoint:
        health:
            enabled: true

server:
    servlet:
        encoding:
            charset: UTF-8
            enabled: true
            force: true
        context-path: /termit
        session:
            cookie:
                name: TermItSessionId
    tomcat:
        max-swallow-size: -1
spring:
    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 20MB
            file-size-threshold: 0B
            location: ${java.io.tmpdir}
    cache:
        jcache:
            config: classpath:ehcache.xml
    profiles:
        active: '@spring.profiles.active@'


javamelody:
    init-parameters:
        authorized-users: admin:kral0vnat3rm1t1st3
termit:
    repository:
        url: http://localhost:7200/repositories/termit
        # if empty, repository.url will be used
        publicUrl:
    persistence:
        driver: cz.cvut.kbss.ontodriver.sesame.SesameDataSource
        language: cs
    jwt:
        secretKey: LongEnoughTermItSecretKeyNeeds32Chars
    namespace:
        vocabulary: http://onto.fel.cvut.cz/ontologies/slovnik/
        user: http://onto.fel.cvut.cz/ontologies/uzivatel/
        resource: http://onto.fel.cvut.cz/ontologies/zdroj/
        term:
            separator: /pojem
        file:
            separator: /soubor
        snapshot:
            separator: /verze
    file:
        storage: /tmp/termit
    textAnalysis:
        url: http://localhost/annotace/annotate
    changetracking:
        context:
            extension: /zmeny
    comments:
        context: http://onto.fel.cvut.cz/ontologies/komentare
    glossary:
        fragment: glosář
    admin:
        credentialsLocation: ${user.home}
        credentialsFile: .termit-admin
    publicView:
        whiteListProperties:
            - http://www.w3.org/2004/02/skos/core#notation
            - http://onto.fel.cvut.cz/ontologies/slovník/agendový/popis-dat/pojem/je-verzí-pojmu
            - http://onto.fel.cvut.cz/ontologies/slovník/agendový/popis-dat/pojem/má-datum-a-čas-vytvoření-verze
