<html lang="en">
<body>
Hello,

<p>
    Someone has requested to change the password to your account. You can change your password at the link below.
</p>
<p>
    <b><a href="${resetLink}">Change password</a></b>
</p>
<p>
    The link is valid for ${validity} hours.
    If you have not requested the change, you can ignore this message.
</p>

Kind regards,<br/>
TermIt Postman
<br/>
<p>
    -------------------------------------------------------------------------------<br/>
    This is an automated message. Please do not reply to it.
</p>
</body>
</html>
