<html lang="en">
<body>
Hello,

<p>
    You have been registered in the TermIt system by the administrator.
    Please use the link below to create a password.
</p>
<p>
    <b><a href="${resetLink}">Create password</a></b>
</p>
<p>
    The link is valid for ${validity} hours.
</p>

Kind regards,<br/>
TermIt Postman
<br/>
<p>
    -------------------------------------------------------------------------------<br/>
    This is an automated message. Please do not reply to it.
</p>
</body>
</html>
